html, body, #root {
  color: #eee;
  background: #121212;
  height: 98% !important;
  margin:0 !important;
}
a {
  color: #809fff;
  text-decoration: none !important;
}

.container {
  height:100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: #444;
  justify-content: space-between;
}

nav {
  padding: 10px;
  background-color: #222;

}

header span {
  font-size: 10px;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

section.nes-container {
  position: fixed !important;
  right: 10px;
  bottom: 10px;
}
.nes-bcrikko {
  margin-left:10px;
  height: 25px !important;
}

.main-form {
  width: 70%;
}

input:disabled {
  background-color: #444;
  color: #eee;
}

.nes-badge span.is-dark {
  background-color: #444 !important;
  box-shadow: 0 0.5em #444, 0 -0.5em #444, 0.5em 0 #444, -0.5em 0 #444  !important;
}

footer {
  margin-top:10px;
  text-align: center;
}

input[type=radio] {
  padding-left:20px;
}

.nes-btn {
  margin-top: 15px;
}